<% if current_user.admin? %>
  <table class="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Company</th>
      <th>Company Address</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.username, user %>
        </td>
        <td><%= user.email %></td>
        <td><%= [user.first_name, user.last_name].join(' ') %></td>
        <td><%= user.contact %></td>
        <td><%= user.company %></td>
        <td><%= user.company_address %></td>
        <td>
          <%= link_to edit_user_path(user) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-remove"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>

<% end %>
