<!DOCTYPE html>
<html>
<head>
  <title>UserHub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Include the JS for AG Grid -->
  <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
  <!-- Include the core CSS, this is needed by the grid -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css"/>
  <!-- Include the theme CSS, only need to import the theme you are going to use -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-alpine.css"/>
</head>

<body>
  <% if user_signed_in? %>
    <%= render 'layouts/navbar' %>
  <% end %>
  <div class="container mt-4">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
</body>
</html>
<script type="text/javascript">
    var gridOptions = {
        animateRows: true,
        onRowClicked: params => {
            var id = params.data.id;
            window.location.href = `users/${id}`;
        }
    };
    var gridElement = document.querySelector('#grid-container');
    var grid = new agGrid.Grid(gridElement, gridOptions);

    var gridApi = gridOptions.api;
    $.ajax({
        url: '/api/v1/users/grid_data',
        dataType: 'json',
        success: function(data) {
            gridApi.setColumnDefs(data.columns);
        }
    });
    $.ajax({
        url: '/api/v1/users',
        dataType: 'json',
        success: function(data) {
            gridApi.setRowData(data.users);
        }
    });
</script>